* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Karla;
    src: url('./fonts/Karla/Karla-VariableFont_wght.ttf');
}

h1, h2, p, span, button, li {
    font-family: Karla;
}

body {
    background-color: hsl(204, 43%, 93%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    background-color: white;
    margin: 10px;
    width: 95%;
    max-width: 580px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 20px 20px 20px rgba(100, 100, 100, 0.1);
}


header {
    padding: 40px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    color: hsl(179, 62%, 43%);
}

.guarantee {
    font-size: 18px;
    margin: 20px 0 10px;
    color: hsl(71, 73%, 54%);
    font-weight: 700;
}

.description {
    color: hsl(218, 22%, 67%);
    line-height: 1.4;
    font-size: 15px;
}

section {
    display: flex;
}

.left, .right {
    padding: 30px;
}

.left {
    flex: 1;
    background-color: hsl(179, 62%, 43%);
}

.right {
    flex: 1;
    background-color: #4ABEBD;
}

section h2, p, span, button, li {
    color: white;
}

h2 {
    font-size: 16px;
}

.price {
    margin: 15px 0 5px;
}

.price-num {
    font-size: 25px;
    font-weight: 700;
}

.price-time {
    font-size: 14px;
    margin: 0 5px;
    position: relative;
    top: -3px;
    color: hsl(179, 62%, 70%);
}

.left p {
    font-size: 15px;
}

button {
    width: 100%;
    margin: 30px 0 0;
    padding: 10px;
    background-color: hsl(71, 73%, 54%);
    border: 0;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.2);
    font-weight: 700;
}

button:hover {
    background-color: hsl(71, 73%, 60%);
    cursor: pointer;
}

button:active {
    background-color: hsl(71, 73%, 45%);
}

ul {
    margin: 15px 0 0;
}

li {
    display: block;
    font-size: 14px;
    color: hsl(179, 62%, 85%);
}

@media(max-width: 450px) {
    section {
        flex-direction: column;
    }
}